/* CSS Document */
/* FDA webpage */

body
{
	color:#003399;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

p
{
	color:#003399;
	font-size: 10pt;
	text-align: justify;
}

.title
{
	color:#0033CC;
	font-size: 19pt;
	text-align: center;
}

.examplebar
{
	color:#E6E6E6;
	font-size: 7pt;
	text-align: center;
}

.figure
{
	font-size: 7pt;
	text-align: center;
}

.main
{
	margin-left: 10px;
	margin-right: 10px;
}

.sidebartitle
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 13pt;
	font-weight: bold;
	line-height: 0.9;
	text-align: center;
	vertical-align:text-top;
}

.sidebar
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 8pt;
	font-weight: bold;
	line-height: 0.9;
	margin-bottom: 7;
	text-align: Left;
	vertical-align:text-top;
}

.sidebarsubex
{
	font-size: 7pt;
	line-height: 0.9;
	margin-bottom: 7;	
	margin-left: 8px;
	text-align: left;
}

ol
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 85%;
}

ul
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
}